button {
    background-color: #c1c1c1;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    transition: color 0.3s, border 0.3s; 
}

button:hover {
    scale: 1;
    background-color: #656565;
   border: 2px solid #656565;
   text-decoration-color: white;
   color: white;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1300px;
    margin: 30px auto;
    border-radius: 20px;
    background-color:  #6a6e77;
    box-shadow: 0 4px 24px rgba(4, 0, 0, 0.1);
}

body {
font-family: Georgia, 'Times New Roman', Times, serif;
background-image: url(unsplash_7.jpg);
background-size: cover;
background-position: center;
margin: 30px;
}

.image-container {
   width: 100%;
   min-width: 300px;
   align-items: center;
   padding: 5px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}

.text-container{
    background-image: url(unsplash_3.png);
    width: 100%;
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 0 20px 20px 0;
} 

textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 1em;
}

.intro-quote , .quote {
    font-family: serif,sans-serif;
    font-style: italic;
    font-size: 1.5em;
    text-shadow: 1px 1px 6px rgba(0,0,0,0.08);
    display: block;
    border-left: 6px solid #1a1c1e;
    border-radius: 10px;
    padding: 20px 28px;
    margin: 50px 0;
    box-shadow: 0 2px 12px rgba(0,0,0,0.08);
    background: rgba(255, 255, 255, 0.616);
}

a {
    color: blue;
}

strong {
    display: inline;
}

ul {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}
textarea {
    margin-bottom: 12px;
}

.button-container {
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 32px;
}

p {
    text-align: justify;
}

footer {
    color: #fff;
    text-align: center;
    padding: 16px 0;
}

@media (max-width: 800px) {
    .container {
        flex-direction: column;
        max-width: 98vw;
    }
    .image-container {
        width: 100%;
        border-radius: 20px 20px 0 0;
        display: flex;
        justify-content: center;
        padding: 10px 0;
    }
    .image-container img {
        width: 80vw;
        max-width: 350px;
        height: auto;
        border-radius: 20px 20px 0 0;
    }
    .text-container {
        width: 100%;
        border-radius: 0 0 20px 20px;
        padding: 16px;
    }
}